In [1]:
import pandas as pd
import tabula
import numpy as np

!java -version

openjdk version "1.8.0_292"
OpenJDK Runtime Environment (build 1.8.0_292-b10)
OpenJDK 64-Bit Server VM (build 25.292-b10, mixed mode)

In [103]:
# ab page 65 bis 67
page_number = 65
url = 'https://www.destatis.de/DE/Themen/Gesellschaft-Umwelt/Bevoelkerung/Sterbefaelle-Lebenserwartung/Tabellen/sonderauswertung-sterbefaelle-pdf.pdf;jsessionid=3625BB3642C6C5041DA068AE79C45426.live741?__blob=publicationFile'
#df = tabula.read_pdf('death.pdf', stream = True, pages = page_number)[0]

df = tabula.read_pdf(url, stream = True, pages = page_number)[0]

df.drop(columns = ['Lfd.', 'Insgesamt'], inplace = True)

df.replace('\.', '', regex = True, inplace = True)


df.rename(columns = df.iloc[0], inplace = True)
df.replace(' ', '', regex = True, inplace = True)


df.drop(index = 0, inplace = True)
df.iloc[:,6] = df.iloc[:,7]
df.iloc[:,8] = df.iloc[:,9]
df.iloc[:,10] = df.iloc[:,11]
df = df.rename(columns={df.columns[0]: 'Jahr', df.columns[1]:'Alter'})
df.replace('95umehr', '95+', inplace = True)


df['Jahr'] = df['Jahr'].astype('int32')
non_nan_cols = [item for item in list(df.columns) if not(pd.isnull(item))]
df = df[non_nan_cols]

df.set_index(['Jahr', 'Alter'], inplace = True)
df.drop(index = 'Insgesamt', level = 'Alter', inplace = True)

Got stderr: Sep 13, 2021 10:25:16 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'
Sep 13, 2021 10:25:17 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'

In [2]:
def return_dataframe(page_number):
    
    url = 'https://www.destatis.de/DE/Themen/Gesellschaft-Umwelt/Bevoelkerung/Sterbefaelle-Lebenserwartung/Tabellen/sonderauswertung-sterbefaelle-pdf.pdf;jsessionid=3625BB3642C6C5041DA068AE79C45426.live741?__blob=publicationFile'
    df = tabula.read_pdf(url, stream = True, pages = page_number)[0]

    df.drop(columns = ['Lfd.', 'Insgesamt'], inplace = True)

    df.replace('\.', '', regex = True, inplace = True)

    df.rename(columns = df.iloc[0], inplace = True)
    df.replace(' ', '', regex = True, inplace = True)

    df.drop(index = 0, inplace = True)
    df.iloc[:,6] = df.iloc[:,7]
    df.iloc[:,8] = df.iloc[:,9]
    df.iloc[:,10] = df.iloc[:,11]
    df = df.rename(columns={df.columns[0]: 'Jahr', df.columns[1]:'Alter'})
    df.replace('95umehr', '95+', inplace = True)


    df['Jahr'] = df['Jahr'].astype('int32')
    non_nan_cols = [item for item in list(df.columns) if not(pd.isnull(item))]
    df = df[non_nan_cols]

    df.set_index(['Jahr', 'Alter'], inplace = True)
    df.drop(index = 'Insgesamt', level = 'Alter', inplace = True)
    
    return df

In [3]:
large_df = return_dataframe(65)

for page in [66, 67]:
    df = return_dataframe(page)
    large_df = large_df.append(df)
    
large_df

Got stderr: Sep 14, 2021 7:50:17 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'
Sep 14, 2021 7:50:18 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'

Got stderr: Sep 14, 2021 7:50:19 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'
Sep 14, 2021 7:50:20 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'

Got stderr: Sep 14, 2021 7:50:22 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'
Sep 14, 2021 7:50:23 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'

           Januar Februar   MÃ¤rz  April    Mai   Juni   Juli August September  \
Jahr Alter
2021 0-15     295     222    287    258    308    297    279    280       NaN
     15-30    290     275    294    331    322    378    353    283       NaN
     30-35    235     184    242    228    212    201    232    219       NaN
     35-40    327     298    362    338    388    355    296    337       NaN
     40-45    525     470    521    520    538    493    468    479       NaN
...           ...     ...    ...    ...    ...    ...    ...    ...       ...
2016 75-80  12388   11644  12850  11600  11181  10740  10957  10844     10483
     80-85  13721   12988  14230  12632  12915  11729  12264  12238     11770
     85-90  15688   14556  15697  14250  13977  12588  13338  13145     12929
     90-95  11244   10304  11333  10022   9818   8960   9401   9243      9004
     95+     3839    3569   3954   3621   3588   3287   3417   3465      3345

           Oktober November Dezember
Jahr Alter
2021 0-15      NaN      NaN      NaN
     15-30     NaN      NaN      NaN
     30-35     NaN      NaN      NaN
     35-40     NaN      NaN      NaN
     40-45     NaN      NaN      NaN
...            ...      ...      ...
2016 75-80   11566    11709    12805
     80-85   13147    13534    14704
     85-90   14189    14629    16123
     90-95   10221    10446    11830
     95+      3802     4015     4451

[96 rows x 12 columns]

In [4]:
large_df.to_csv('deaths_month_age.csv')