In [1]:
import pandas as pd
import tabula
import numpy as np

!java -version

openjdk version "11.0.18" 2023-01-17
OpenJDK Runtime Environment (build 11.0.18+10-post-Ubuntu-0ubuntu120.04.1)
OpenJDK 64-Bit Server VM (build 11.0.18+10-post-Ubuntu-0ubuntu120.04.1, mixed mode, sharing)

In [2]:
# ab page 77 bis 80
page_number = 77
url = 'https://www.destatis.de/DE/Themen/Gesellschaft-Umwelt/Bevoelkerung/Sterbefaelle-Lebenserwartung/Tabellen/sonderauswertung-sterbefaelle-pdf.pdf;jsessionid=3625BB3642C6C5041DA068AE79C45426.live741?__blob=publicationFile'
#df = tabula.read_pdf('death.pdf', stream = True, pages = page_number)[0]

df = tabula.read_pdf(url, stream = True, pages = page_number)[0]

df.drop(columns = ['Lfd.', 'Insgesamt'], inplace = True)

df.replace('\.', '', regex = True, inplace = True)


df.rename(columns = df.iloc[0], inplace = True)
df.replace(' ', '', regex = True, inplace = True)


df.drop(index = 0, inplace = True)
df.iloc[:,6] = df.iloc[:,7]
df.iloc[:,10] = df.iloc[:,11]
df = df.rename(columns={df.columns[0]: 'Jahr', df.columns[1]:'Alter'})
df.replace('95umehr', '95+', inplace = True)


df['Jahr'] = df['Jahr'].astype('int32')
non_nan_cols = [item for item in list(df.columns) if not(pd.isnull(item))]
df = df[non_nan_cols]

df.set_index(['Jahr', 'Alter'], inplace = True)
df.drop(index = 'Insgesamt', level = 'Alter', inplace = True)

Got stderr: März 24, 2023 7:08:57 NACHM. org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'
März 24, 2023 7:08:58 NACHM. org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'

In [3]:
df

           Januar Februar   März  April    Mai   Juni   Juli August September  \
Jahr Alter
2023 0-15     289     279    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     15-30    319     297    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     30-35    245     188    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     35-40    323     329    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     40-45    532     510    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     45-50    790     686    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     50-55   1697    1460    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     55-60   3195    2818    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     60-65   4944    4283    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     65-70   6631    5730    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     70-75   8700    7327    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     75-80  10072    8715    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     80-85  19066   15814    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     85-90  20752   17183    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     90-95  14330   11720    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     95+     6583    5250    NaN    NaN    NaN    NaN    NaN    NaN       NaN
2022 0-15     271     272    280    264    279    329    313    306       303
     15-30    345     299    364    306    351    318    372    353       370
     30-35    238     193    235    251    216    231    276    248       213
     35-40    361     355    351    359    357    385    392    365       374
     40-45    549     519    518    538    557    515    578    551       485
     45-50    806     721    831    784    766    730    748    720       742
     50-55   1803    1541   1712   1633   1593   1556   1704   1658      1520
     55-60   3210    2953   3102   3062   2961   2931   3068   2998      2886
     60-65   4988    4201   4668   4492   4470   4413   4621   4639      4264
     65-70   6182    5636   6291   5867   5808   5716   5985   6004      5741
     70-75   7850    7073   8079   7558   7349   7122   7740   7535      7240
     75-80   9767    8737   9858   9016   8840   8386   9316   9033      8513
     80-85  17719   16556  18626  16937  15902  15373  16725  16832     15717
     85-90  17429   16334  18751  17053  16019  15630  16954  17548     15980
     90-95  12397   11962  13958  12479  11342  10955  11974  12218     11395
     95+     5525    5457   6130   5623   5005   4878   5202   5499      5107

           Oktober November Dezember
Jahr Alter
2023 0-15      NaN      NaN      NaN
     15-30     NaN      NaN      NaN
     30-35     NaN      NaN      NaN
     35-40     NaN      NaN      NaN
     40-45     NaN      NaN      NaN
     45-50     NaN      NaN      NaN
     50-55     NaN      NaN      NaN
     55-60     NaN      NaN      NaN
     60-65     NaN      NaN      NaN
     65-70     NaN      NaN      NaN
     70-75     NaN      NaN      NaN
     75-80     NaN      NaN      NaN
     80-85     NaN      NaN      NaN
     85-90     NaN      NaN      NaN
     90-95     NaN      NaN      NaN
     95+       NaN      NaN      NaN
2022 0-15      287      302      374
     15-30     346      339      385
     30-35     225      202      265
     35-40     350      374      366
     40-45     527      534      602
     45-50     782      771      882
     50-55    1686     1629     1791
     55-60    3153     2986     3641
     60-65    4786     4511     5514
     65-70    6405     6106     7452
     70-75    8230     7858     9873
     75-80    9835     9422    11878
     80-85   18585    17213    22515
     85-90   19310    18189    24231
     90-95   13602    12644    16879
     95+      6128     5594     7692

In [4]:
def return_dataframe(page_number):
    
    url = 'https://www.destatis.de/DE/Themen/Gesellschaft-Umwelt/Bevoelkerung/Sterbefaelle-Lebenserwartung/Tabellen/sonderauswertung-sterbefaelle-pdf.pdf;jsessionid=3625BB3642C6C5041DA068AE79C45426.live741?__blob=publicationFile'
    df = tabula.read_pdf(url, stream = True, pages = page_number)[0]

    df.drop(columns = ['Lfd.', 'Insgesamt'], inplace = True)

    df.replace('\.', '', regex = True, inplace = True)

    df.rename(columns = df.iloc[0], inplace = True)
    df.replace(' ', '', regex = True, inplace = True)

    df.drop(index = 0, inplace = True)
    df.iloc[:,6] = df.iloc[:,7]
    df.iloc[:,10] = df.iloc[:,11]
    df = df.rename(columns={df.columns[0]: 'Jahr', df.columns[1]:'Alter'})
    df.replace('95umehr', '95+', inplace = True)


    df['Jahr'] = df['Jahr'].astype('int32')
    non_nan_cols = [item for item in list(df.columns) if not(pd.isnull(item))]
    df = df[non_nan_cols]

    df.set_index(['Jahr', 'Alter'], inplace = True)
    df.drop(index = 'Insgesamt', level = 'Alter', inplace = True)
    
    return df

In [5]:
large_df = return_dataframe(77)

for page in [78, 79, 80]:
    df = return_dataframe(page)
    large_df = large_df.append(df)
    
large_df

Got stderr: März 24, 2023 7:08:59 NACHM. org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'
März 24, 2023 7:08:59 NACHM. org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'

Got stderr: März 24, 2023 7:09:00 NACHM. org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'
März 24, 2023 7:09:00 NACHM. org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'

/tmp/ipykernel_16644/1523515556.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  large_df = large_df.append(df)
Got stderr: März 24, 2023 7:09:01 NACHM. org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'
März 24, 2023 7:09:02 NACHM. org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'

/tmp/ipykernel_16644/1523515556.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  large_df = large_df.append(df)
Got stderr: März 24, 2023 7:09:03 NACHM. org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'
März 24, 2023 7:09:03 NACHM. org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'LiberationSans' for 'MetaNormalLF-Roman'

/tmp/ipykernel_16644/1523515556.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  large_df = large_df.append(df)

           Januar Februar   März  April    Mai   Juni   Juli August September  \
Jahr Alter
2023 0-15     289     279    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     15-30    319     297    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     30-35    245     188    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     35-40    323     329    NaN    NaN    NaN    NaN    NaN    NaN       NaN
     40-45    532     510    NaN    NaN    NaN    NaN    NaN    NaN       NaN
...           ...     ...    ...    ...    ...    ...    ...    ...       ...
2016 75-80  12388   11644  12850  11600  11181  10740  10957  10844     10483
     80-85  13721   12988  14230  12632  12915  11729  12264  12238     11770
     85-90  15688   14556  15697  14250  13977  12588  13338  13145     12929
     90-95  11244   10304  11333  10022   9818   8960   9401   9243      9004
     95+     3839    3569   3954   3621   3588   3287   3417   3465      3345

           Oktober November Dezember
Jahr Alter
2023 0-15      NaN      NaN      NaN
     15-30     NaN      NaN      NaN
     30-35     NaN      NaN      NaN
     35-40     NaN      NaN      NaN
     40-45     NaN      NaN      NaN
...            ...      ...      ...
2016 75-80   11566    11709    12805
     80-85   13147    13534    14704
     85-90   14189    14629    16123
     90-95   10221    10446    11830
     95+      3802     4015     4451

[128 rows x 12 columns]

In [6]:
large_df.to_csv('deaths_month_age.csv')